{% extends 'main/base.html' %}
{% block title %} ADMIN {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

<meta name='viewport' content="width=device-width, initial-scale-1.0">

{% block content %}
    <div class='header_student'>
        <div class='row'>
            <div class='logo'>
                <img src = "/media/images/ganga.png", height=160, width=180>
            </div>
            <div class='gtc'>
                <h1 id='row1_s'>Ganga Technical Campus</h1>  
            </div>
        </div>
    </div> 

    <form method = 'POST' class='form-group' enctype='multipart/form-data'>
        {% csrf_token %}
        {{form|crispy}}
        <div class="upload_paper">
            <h1 id='log'><b>Upload Question Paper</b></h1>
            <hr>
            <div class="rowt">

                <div class='label'>
                    <label>Test ID</label>
                </div>

                <div class="field">
                   <input type="number" id="testid" name="testid" placeholder="Enter test id here "  required>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Total Questions</label>
                </div>

                <div class="field">
                    <input type="number" id="questions" name="questions" placeholder="Enter total no. of questions here "  required>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Total Marks</label>
                </div>

                <div class="field">
                    <input type="number" id="marks" name="marks" placeholder="Enter total marks here "  required>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Upload Paper</label>
                </div>

                <div class="field">
                    <input type='file' name='file' id='file' accept=".xlsx">
                </div>
            </div>

            <div class='rowt'>
                <input type='submit' name='save' value='Submit' id='test_btn'>
            </div>
        </div>
    </form> 
{% endblock %}