{% extends 'main/base.html' %}
{% block title %} TAKE TEST {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

<meta name='viewport' content="width=device-width, initial-scale-1.0">

{% block content %}
    <div class='header_student'>
        <div class='row'>
            <div class='logo'>
                <img src = "/media/images/ganga.png", height=160, width=180>
            </div>
            <div class='gtc'>
                <h1 id='row1_s'>Ganga Technical Campus</h1>  
            </div>
        </div>
    </div>

    <div class='row'>
    <div class="main_instructions animated bounceInLeft">
        <h1 align='center' style='color:#2193b0; font-size:240%;'>INSTRUCTIONS</h1>
        <h1 align='left' style='color:#2193b0; font-size:135%;'>1. Don't open new window/tab or any other app</h1>
        <h1 align='left' style='color:#2193b0; font-size:135%;'>2. Don't right click of mouse</h1>
        <h1 align='left' style='color:#2193b0; font-size:135%;'>3. Don't minimize Browser window</h1>
        <h1 align='left' style='color:#2193b0; font-size:135%;'>4. Don't press home or back button </h1>
        <h1 align='left' style='color:#2193b0; font-size:150%;'><u>All the above activities will lead to test auto submit</u> and you won't be able to five exam again</h1>
    </div>

    <form method = 'POST' class='form-group'>
        {% csrf_token %}
        {{form|crispy}}
        <div class="main_student_login2 animated bounceInLeft">
            <h1 id='log'><b>Upcoming Test</b></h1>
            <hr>
            <div class="rowt">

                <div class='label'>
                    <label>Date</label>
                </div>

                <div class="field">
                    <input type='text' id="date" name="date" value={{ date1 }} disabled></textarea>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Time</label>
                </div>

                <div class="field">
                    <input type="text" id="time" name="time" value= {{ starttime }} disabled>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Duration</label>
                </div>

                <div class="field">
                   <input type="text" id="duration" name="duration" value= {{ duration }} disabled>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Time per Question</label>
                </div>

                <div class="field">
                   <input type="text" id='60' name="60" placeholder='60seconds' disabled>
                </div>
            </div>

            <div class="rowt">

                <div class='label'>
                    <label>Subject</label>
                </div>

                <div class="field">
                   <input type="text" id="subject" name="subject" placeholder={{ data.subjects }} disabled>
                </div>
            </div>

            <div class="rowt">
                <div class='label'>
                    <label>Total Questions</label>
                </div>

                <div class="field">
                   <input type="text" id="questions" name="questions" placeholder={{ data.questions }} disabled>
                </div>
            </div>

            <div class="rowt">
                <div class='label'>
                    <label>Total Marks</label>
                </div>

                <div class="field">
                   <input type="text" id="marks" name="marks" placeholder={{ data.marks }} disabled>
                </div>
            </div>

            <div class='rowt'>
                <input type='submit' name='save' value='Take Test' id='log_btn'>
            </div>
        </div>
        </div>
    </form>
    <p align="center" id='about_data'><b>COPYRIGHT &copy; 2014-2020 GTC </b></p>
<!-- !Disclaimer - you must not use this website's template in as it is form - please feel free 
to contact me @ chiragchauhan12323@gmail.com for the source code and implementation in your use case -
After all I too did take some help from the community -->
{% endblock %}